*{
    background-color: rgb(24, 23, 23);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.quadrado {
    background-color: rgb(175, 18, 18);
    width: 200px;
    height: 200px;
    transition: all 1s ease-in-out;
    box-shadow: 0px 0px 15px 5px rgba(5, 5, 5, 0.6);
}

.quadrado:hover {
    border-radius: 50%;
}
